Repository SlkRck/PennyMacTest: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-fmt, terraform-validate, tflint, tfsec, checkov, terraform-docs, infracost, conftest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: terraform-fmt
        name: terraform fmt
        entry: scripts/precommit/terraform_fmt.sh
        language: script
        files: ^terraform/.*\.tf$

      - id: terraform-validate
        name: terraform validate
        entry: scripts/precommit/terraform_validate.sh
        language: script
        files: ^terraform/.*\.tf$

      - id: tflint
        name: tflint
        entry: scripts/precommit/tflint.sh
        language: script
        files: ^terraform/.*\.tf$

      - id: tfsec
        name: tfsec
        entry: scripts/precommit/tfsec.sh
        language: script
        files: ^terraform/.*\.tf$

      - id: checkov
        name: checkov
        entry: scripts/precommit/checkov.sh
        language: script
        files: ^terraform/.*\.tf$

      - id: terraform-docs
        name: terraform-docs
        entry: scripts/precommit/terraform_docs.sh
        language: script
        files: ^terraform/modules/.*\.tf$

      - id: infracost
        name: infracost (optional)
        entry: scripts/precommit/infracost.sh
        language: script
        files: ^terraform/.*\.tf$

      - id: conftest
        name: conftest (optional)
        entry: scripts/precommit/conftest.sh
        language: script
        files: ^(terraform/|policy/).*

Update title
  .github/copilot-instructions.md
Due: none

Rename file to instructions.md
  .github/instructions.md
Due: none

Delete scripts/New-ExerciseRepo.ps1
  scripts/New-ExerciseRepo.ps1
Due: none

Change title to 'Explanations' and clarify NAT Gateway usage
  docs/interview/ReviewSimulation.md
Due: none

Add technical exercise report
  REPORT.md
Due: none

final submission
  REPORT.md
  pennymac_technical_exercise_checklists_with_github_links.xlsx
Due: none

Remove GitHub publishing and interview collateral sections
  README.md
Due: none

fixing errors
  terraform/legacy_single_module/main.tf
  terraform/main.tf
  terraform/modules/lambda_snapshot_cleaner/main.tf
Due: terraform-fmt, terraform-validate, tflint, tfsec, checkov, terraform-docs, infracost, conftest

added a check in security
  .github/workflows/terraform-security.yml
Due: none

Fix TFlint config for v0.54+
  .tflint.hcl
Due: none

Add module version/provider constraints (tflint)
  terraform/modules/lambda_snapshot_cleaner/variables.tf
  terraform/modules/lambda_snapshot_cleaner/versions.tf
  terraform/modules/network/versions.tf
  terraform/modules/schedule/versions.tf
Due: terraform-fmt, terraform-validate, tflint, tfsec, checkov, terraform-docs, infracost, conftest

Fix main.tf to comment out aws_region since it is unused
  terraform/main.tf
Due: terraform-fmt, terraform-validate, tflint, tfsec, checkov, infracost, conftest

Fix Checkov config (soft-fail flag)
  .checkov.yml
Due: none

multiple fixes in network module
  terraform/modules/network/main.tf
Due: terraform-fmt, terraform-validate, tflint, tfsec, checkov, terraform-docs, infracost, conftest

more multiple fixes in network module
  terraform/modules/lambda_snapshot_cleaner/main.tf
Due: terraform-fmt, terraform-validate, tflint, tfsec, checkov, terraform-docs, infracost, conftest
